@tailwind base;
@tailwind components;
@tailwind utilities;

  .menu > li span { opacity: 0.6; }
.submenu {
  display: none;
}

.group:hover .submenu {
  display: block;
}

@media (min-width: 1280px) {
  .submenu {
    display: none;
  }
}
/* styles.css */
nav ul {
    list-style-type: none;
}

nav ul li a.active {
    font-weight: bold;
    color: red;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
}

.navigation-buttons .btn:hover {
    background-color: #0056b3;
}