@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-own: 73 177 135;
  --purple-own: 79 52 75;
  --purple-alt-own: 105 76 101;
  --orange-own: 255 106 61;
  --orange-alt-own: 223 86 45;
  --yellow-own: 244 218 124;
  --blue-own: 26 34 56;
  --blue-light-own: 157 170 242;
  --dark-own: 43 43 43;
  --pink-own: 218 17 191;
  --headings-xxl: clamp(4rem, 3.5vw, 3rem);
  --headings-xl: clamp(1.7rem, 2.1vw, 2.2rem);
  --headings-lg: clamp(1.4rem, 1.7vw, 1.9rem);
  --font-titulos: "Quicksand", sans-serif;
  --font-cuerpo: "Open Sans", sans-serif;
  --transition-smooth: ease-in-out 0.35s all;
  --css-green: rgb(73, 177, 135);
  --css-purple: rgb(79, 52, 75);
  --css-purple-alt: rgb(105, 76, 101);
  --css-orange: rgb(255, 106, 61);
  --css-orange-alt: rgb(223, 86, 45);
  --css-yellow: rgb(244, 218, 124);
  --css-blue: rgb(26, 34, 56);
  --css-blue-light: rgb(157, 170, 242);
  --css-dark: rgb(43, 43, 43);
  --css-pink: rgb(218, 17, 191);

}
@layer components {
  main {
    @apply leading-relaxed ;
    h1, h2, h3{
      @apply mb-1 xl:mb-3 leading-none;
    }
    h1 {
      @apply text-3xl xl:text-4xl font-bold max-w-screen-lg mt-3 mx-auto border-b-2 border-orangeown pb-2;
    }
    h2 {
      @apply text-2xl xl:text-3xl font-bold;
    }
    h3 {
      @apply text-xl xl:text-2xl;
    }
    h4 {
      @apply text-base xl:text-lg;
    }
    section{
      @apply mt-1 xl:mt-5 mx-auto px-6 lg:px-0 max-w-screen-lg;
    }
    p {
      @apply text-lg xl:text-base ;
      &:not(:last-child) {
        @apply mb-2;
      }
    }
  }
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
  scroll-behavior: smooth;
  transition: ease-in-out 0.5s;
}
body {
  font-family: var(--font-cuerpo);
  color: var(--css-darkest-blue);

}
h1{
  font-family: var(--font-titulos);
  font-weight: 700;
}


/* styles.css */
nav ul {
  list-style-type: none;
}

nav ul li a{
  display: flex;
  color: white;
  min-height: 1.5rem;
  min-width: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover {
  background-color: var(--css-blue-light);
  color: var(--css-dark);
  transition: var(--transition-smooth);
}

nav ul li a.active {
  font-weight: bold;
  background-color: var(--css-green);
  color: var(--css-dark);
}


#footer {
  background-color: var(--css-orange-alt);
  margin-top: auto;
  width: 100%;
}
#nav-moodle{
  background-color: var(--css-green);
  color: var(--css-dark);
}
#nav-menu {
  background-color: var(--css-blue);
  color: var(--css-blue-light);
  font-family: var(--font-titulos);
}